<a href="https://colab.research.google.com/github/Sangam101/BITMcontributions/blob/master/Bike_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [299]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Bike%20Prices.csv')

In [300]:
df

,Brand,Model,Selling_Price,Year,Seller_Type,Owner,KM_Driven,Ex_Showroom_Price
0,TVS,TVS XL 100,30000,2017,Individual,1st owner,8000,30490.0
1,Bajaj,Bajaj ct 100,18000,2017,Individual,1st owner,35000,32000.0
2,Yo,Yo Style,20000,2011,Individual,1st owner,10000,37675.0
3,Bajaj,Bajaj Discover 100,25000,2010,Individual,1st owner,43000,42859.0
4,Bajaj,Bajaj Discover 100,24999,2012,Individual,2nd owner,35000,42859.0
...,...,...,...,...,...,...,...,...
1056,Royal,Royal Enfield Electra 5 S,90000,2012,Individual,1st owner,40000,NaN
1057,Hero,Hero Honda Hunk,20000,2010,Individual,1st owner,17000,NaN
1058,Bajaj,Bajaj Pulsar 220 DTS-i,60000,2014,Individual,1st owner,16000,NaN
1059,Hero,Hero Honda CBZ extreme,40000,2009,Individual,1st owner,50000,NaN
1060,Hero,Hero Honda CBZ extreme,35000,2012,Individual,1st owner,60000,NaN

In [301]:
col = df.columns

In [302]:
df['Ex_Showroom_Price']

0       30490.0
1       32000.0
2       37675.0
3       42859.0
4       42859.0
         ...
1056        NaN
1057        NaN
1058        NaN
1059        NaN
1060        NaN
Name: Ex_Showroom_Price, Length: 1061, dtype: float64

In [303]:
for i in range(8):
  print(col[i]+' '+str(df[col[i]].isnull().sum()))

Brand 0
Model 0
Selling_Price 0
Year 0
Seller_Type 0
Owner 0
KM_Driven 0
Ex_Showroom_Price 435

In [304]:
df= df.fillna(df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [305]:
df['Ex_Showroom_Price'].isnull().sum()

0

In [306]:
df['Seller_Type'].value_counts()

Individual    1055
Dealer           6
Name: Seller_Type, dtype: int64

In [307]:
df['Owner'].value_counts()

1st owner    924
2nd owner    123
3rd owner     11
4th owner      3
Name: Owner, dtype: int64

In [308]:
df['Year'].value_counts()

2017    133
2018    131
2016    107
2015    100
2014     91
2019     86
2013     73
2012     70
2011     61
2010     60
2007     29
2008     28
2009     28
2006     20
2005     14
2000      6
2004      5
1998      3
2020      3
2002      3
2001      2
1997      2
1988      1
1999      1
1991      1
2003      1
1993      1
1995      1
Name: Year, dtype: int64

In [309]:
for i in range(1061):
  if(df['Year'][i]<=2000):
    df['Year'][i]=0
  elif(df['Year'][i]<=2010):
    df['Year'][i]=1
  elif(df['Year'][i]<=2015):
    df['Year'][i]=2
  else:
    df['Year'][i]=3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [310]:
for i in range(1061):
  if(df['Owner'][i]=='1st owner'):
    df['Owner'][i]=0
  elif(df['Owner'][i]=='2nd owner'):
    df['Owner'][i]=1
  else:
    df['Owner'][i]=2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [311]:
for i in range(1061):
  if(df['Seller_Type'][i]=='Dealer'):
    df['Seller_Type'][i]=0
  else:
    df['Seller_Type'][i]=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [312]:

df['Model'].value_counts()

Bajaj Pulsar 150             41
Royal Enfield Classic 350    27
Honda Activa [2000-2015]     23
Honda CB Hornet 160R         22
Bajaj Pulsar 180             20
                             ..
Suzuki Gixxer SF Fi           1
Bajaj Pulsar  NS 200          1
Hero Xpulse 200T              1
Yamaha Fazer                  1
TVS Max DLX                   1
Name: Model, Length: 279, dtype: int64

In [313]:

df['Brand'].value_counts()

Bajaj       260
Hero        232
Honda       204
Royal       109
Yamaha      102
TVS          69
Suzuki       30
KTM          24
Mahindra      6
Vespa         4
Kawasaki      4
Activa        3
UM            3
Jawa          3
Harley        2
Aprilia       2
Yo            1
Benelli       1
Hyosung       1
BMW           1
Name: Brand, dtype: int64

In [314]:
X= df.drop(['Brand','Model','Ex_Showroom_Price'],axis=1)

In [315]:
X

      Selling_Price  Year Seller_Type Owner  KM_Driven
0             30000     3           1     0       8000
1             18000     3           1     0      35000
2             20000     2           1     0      10000
3             25000     1           1     0      43000
4             24999     2           1     1      35000
...             ...   ...         ...   ...        ...
1056          90000     2           1     0      40000
1057          20000     1           1     0      17000
1058          60000     2           1     0      16000
1059          40000     1           1     0      50000
1060          35000     2           1     0      60000

[1061 rows x 5 columns]

In [316]:
# from sklearn.preprocessing import StandardScaler
# ss= StandardScaler()
# X=ss.fit_transform(X)

In [317]:
X.shape

(1061, 5)

In [318]:
X.iloc[1060][4]

60000

In [319]:
y=df['Ex_Showroom_Price']

In [320]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=123)

In [321]:
X_train

      Selling_Price  Year Seller_Type Owner  KM_Driven
103           45000     3           1     0      25000
866            5000     0           1     0      60000
209           35000     2           1     0      15888
184           25000     2           1     0      35000
291           50000     3           1     0      46000
...             ...   ...         ...   ...        ...
638           65000     3           1     0      27000
113           32000     2           1     1      20696
96            40000     2           1     0      10000
106           35000     3           1     0      29000
1041          45000     2           1     0      40000

[954 rows x 5 columns]

In [322]:
X_train.shape

(954, 5)

In [323]:
y_train[953]

87958.71405750798

In [324]:
y_train.shape

(954,)

In [325]:
y_train.iloc[0]

53079.0

In [326]:
def cost_function (X_train,y_train,m1,m2,m3,m4,m5,c):
  error = 0.0
  for i in range(954):
    error = error + (m1*X_train.iloc[i][0]+m2*X_train.iloc[i][1]+m3*X_train.iloc[i][2]+m4*X_train.iloc[i][3]+m5*X_train.iloc[i][4]+c-y_train.iloc[i]) ** 2
  return error/954.0

In [327]:
def dm(X_train,y_train,m1,m2,m3,m4,m5,c,n):
  gradient = 0.0
  for i in range(954):
    gradient += X_train.iloc[i][n]*(m1*X_train.iloc[i][0]+m2*X_train.iloc[i][1]+m3*X_train.iloc[i][2]+m4*X_train.iloc[i][3]+m5*X_train.iloc[i][4]+c-y_train.iloc[i])
  return 2.0*gradient/954.0

In [328]:
def dm_c (X_train,y_train,m1,m2,m3,m4,m5,c):
  gradient = 0.0
  for i in range(954):
    gradient += (m1*X_train.iloc[i][0]+m2*X_train.iloc[i][1]+m3*X_train.iloc[i][2]+m4*X_train.iloc[i][3]+m5*X_train.iloc[i][4]+c-y_train.iloc[i])
  return 2.0*gradient/954.0

In [329]:
#learning_rate = 0.0000001
r=0.0000000001
m1=1
m2=1
m3=1
m4=1
m5=1
c= 1
J = cost_function (X_train,y_train,m1,m2,m3,m4,m5,c)

In [330]:
J

3914719738.6854687

In [331]:
while True:
  m1 = m1 - r*dm(X_train,y_train,m1,m2,m3,m4,m5,c,0)
  m2 = m2 - r*dm(X_train,y_train,m1,m2,m3,m4,m5,c,1)
  m3= m3 - r*dm(X_train,y_train,m1,m2,m3,m4,m5,c,2)
  m4 = m4 - r*dm(X_train,y_train,m1,m2,m3,m4,m5,c,3)
  m5 = m5 - r*dm(X_train,y_train,m1,m2,m3,m4,m5,c,4)
  c = c - r*dm_c (X_train,y_train,m1,m2,m3,m4,m5,c)
  J1 = cost_function (X_train,y_train,m1,m2,m3,m4,m5,c)
  print(J1)
  if(J1>J):
    break
  elif((J-J1)< 0.23):
    break
  J=J1

2273786015.984077
2034266599.7710242
2029610028.2551117
2029073925.6742184
2029060352.4257994
2029059091.0594378
2029059051.6803508
2029059048.3891883
2029059048.0655398
2029059047.8452036

In [332]:
y_test.shape

(107,)

In [333]:
y_test

1058     87958.714058
521     105000.000000
196      57557.000000
687      87958.714058
678      87958.714058
            ...
154      54760.000000
328      74295.000000
598     182000.000000
952      87958.714058
847      87958.714058
Name: Ex_Showroom_Price, Length: 107, dtype: float64

In [334]:
print(m1)
print(m2)
print(m3)
print(m4)
print(m5)
print(c)

1.0938595878058304
1.0000231392028776
1.0000203699470385
1.0000060307898713
0.29509680257303106
1.0000255635970394

In [335]:
import numpy as np
a = [0.0]*107
for i in range(107):
  a[i] = m1*X_test.iloc[i][0]+m2*X_test.iloc[i][1]+m3*X_test.iloc[i][2]+m4*X_test.iloc[i][3]+m5*X_test.iloc[i][4]+c

y_pred = pd.DataFrame(a)

In [336]:
# from sklearn.linear_model import LinearRegression
# lr = LinearRegression()
# lr.fit(X_train,y_train)

In [337]:
# y_pred=lr.predict(X_test)

In [338]:
from sklearn.metrics import mean_squared_error,r2_score
print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

1465362326.0077138
0.8029048938554204